if ARCH_TMPA910

choice

	prompt "Select TX09 Variant"

config CPU_TMPA910
	depends on ARCH_TMPA910
	bool "TMPA910 SoC"

config CPU_TMPA900
	depends on ARCH_TMPA910
	bool "TMPA900 SoC"

endchoice


config MACH_TOPAS910
        bool "Toshiba Topas910 TMPA910 development board"
	depends on CPU_TMPA910

config DISPLAY_GLYN_640_480
        bool "Use Glyn VGA display instead of the regular QVGA."
	depends on ARCH_TMPA910

config MACH_TOPASA900
        bool "Toshiba TopasA900 TMPA900 development board"
	depends on CPU_TMPA900

config MACH_TONGA
        bool "Glyn ARM9 / Tonga board"
	depends on CPU_TMPA900

endif
